* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin: 10px;
}

.room {
  display: inline-block;
  padding: 10px;
  margin: auto;
  width: 800px;
  background-color: #A0B2CC;
  margin: 5px;
  border-radius: 5px;
}

ul {
  list-style: none;
}

li {
  padding: 1px 0;
  border: 1px solid #B2D8D5;
}

hr {
  margin: auto;
  width: 90%;
}
